// Copyright 2012 Taco Stadium LLC. All rights reserved.
//
// All information contained herein, including documentation and any related
// computer programs, is confidential, proprietary, and protected by trade
// secret or copyright law. Use, reproduction, modification or transmission in
// whole or in part in any form or by any means is prohibited without prior
// written consent of Taco Stadium LLC.

.woot-img {
}

.woot-img-xx-small {
  width: 32px;
  height: 24px;
}

.woot-img-x-small {
  width: 64px;
  height: 48px;
}

.woot-img-small,
.woot-img-thumbnail {
  width: 128px;
  height: 96px;
}

.woot-img-medium {
  width: 180px;
  height: 135px;
}

.woot-img-large {
  width: 300px;
  height: 225px;
}

.woot-img-x-large,
.woot-img-standard {
  width: 456px;
  height: 342px;
}

.woot-img-xx-large,
.woot-img-detail {
  width: 768px;
  height: 576px;
}
